In [1]:
num1=int(input("input first num: "))
num2=int(input("input second num: "))
result= num1 if num1>num2 else num2
print("max num is: ",result)

input first num: 3
input second num: 6
max num is:  6

In [2]:
num1=int(input("input first num: "))
num2=int(input("input second num: "))
num3=int(input("input third num: "))
if(num1>num2):
 print("max num is: ",num1)
elif(num1>num3):
     print("max num is: ",num1)
elif(num2>num3):
     print("max num is: ",num2)        
else:
 print("max num is: ",num3)

input first num: 5
input second num: 7
input third num: 8
max num is:  8

In [5]:
num=int(input("input the num: "))
result= "the num is postive" if num>=0 else "the num is negative"
print(result)

input the num: 5
the num is postive

In [6]:
year=int(input("input the year: ")) 
result="the year is leap " if year%4 == 0 and year%400 == 0 else "the year is not leap " 
print(result)

input the year: 2000
the year is leap

In [7]:
l=["سبت" , "الاحد" , "الاثنان" , "التلات", "الاربع", "الخميس" , "الجمعه"]
for x in l:
    print(x)

سبت
الاحد
الاثنان
التلات
الاربع
الخميس
الجمعه

In [8]:
start=ord("a")
end=start+26
while(start < end):
    print(chr(start))
    start+=1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [9]:
i=1
num=int(input("input the num: "))
while (i<=12):
    print(num*i)
    i+=1

input the num: 4
4
8
12
16
20
24
28
32
36
40
44
48

In [10]:
x=1
while(x<=100):
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100