In [2]:
a=10
n=5
print(a*n)

50

In [3]:
a=10
n=5
print(a/n)

2.0

In [6]:
fruits=["Apple" , "orange" ,"bannsa"]
print("Apple" in fruits)

True

In [8]:
print(10!=5)

True

In [13]:
print(True or False)

True

In [10]:
fruits=["Apple" , "orange" ,"bannsa"]
print(fruits[1])

orange

In [11]:
fruits=["Apple" , "orange" ,"bannba"]
fruits[0]="Kiki"
print(fruits)

['Kiki', 'orange', 'bannsa']

In [15]:
fruits=["Apple" ,"bannba"]
fruits.append("orange")
print(fruits)

['Apple', 'bannsa', 'orange']

In [16]:
fruits=["Apple" ,"bannba"]
fruits.insert(1,"orange")
print(fruits)

['Apple', 'orange', 'bannsa']

In [17]:
fruits=["Apple" ,"bannba"]
fruits.remove("bannba")
print(fruits)

['Apple']

In [18]:
fruits=["Apple" , "orange" ,"bannba"]
print(fruits[-1])

bannba

In [21]:
fruits=["Apple" , "orange" ,"bannba","Apple" , "orange" ,"bannba"]
print(fruits[2:5])

['bannba', 'Apple', 'orange']

In [30]:
lists=[546,988.,46,546,67,890,878,786,400,676,100 , 237]
for i in lists:
 if (i %2 ==0):
      print(i)
 elif (i==237):
        break

546
988.0
46
546
890
878
786
400
676
100

In [31]:
height=float(input("input the height: "))
base=float(input("input the base: "))
area=0.5*base*height
print(area)

input the height: 34
input the base: 67
1139.0

In [32]:
lists=[546,988.,46,546,67,890,878,786,400,676,100 , 237]
index=0
while lists[index]!=237:
 if lists[index] %2 ==0:
    print(lists[index])
 index+=1

546
988.0
46
546
890
878
786
400
676
100

In [36]:
val1=int(input("first num"))
val2=int(input("second num"))
val3=int(input("third num"))
max1=max(val1,val2,val3)
min1=min(val1,val2,val3)
middle=val1+val2+val3-max1-min1
print(max1,middle,min1 )

first num4
second num8
third num7
8 7 4

In [37]:
z=[]
x=int(input("enter the range: "))
for i in range(x):
 t=float(input("enter the nums: "))
 z.append(t)
if len(z)==len(set(z)):
    print("true")
else:
    print("false")

enter the range: 5
enter the nums: 8
enter the nums: 7
enter the nums: 8
enter the nums: 7
enter the nums: 5
false

In [39]:
x={"A":2,"b":7,"c":5,"u":2}
print(sum(x.values()))

16

In [46]:
x={"A":-2,"b":7,"c":5,"u":2}
dic={a:b for a,b in x.items() if b>0  }
print(dic)

{'b': 7, 'c': 5, 'u': 2}

In [53]:
b={"b":7,"c":2,"u":2}
x=b.values()
y=set(x)
if len(x)==len(y):
    print("true")
else:
    print("false")

false

In [57]:
b={"b":7,"c":9,"u":2}
x=int(input("enter the value: "))
x in b.values()

enter the value: 3

False

In [62]:
b={"b":7,"c":9,"u":2}
x=input("enter the value: ")
print(x==any(b))

enter the value: c
False

In [65]:
l=[(10,80,70),(10,89,50),(40,80,90)]
l2=[]

 c=list(i)
 c[-1]=100
 l2.append(tuple(c))   
print(l2.append(tuple(c)) for i in l )

[(10, 80, 100), (10, 89, 100), (40, 80, 100)]

In [66]:
def say():
    print("hello")
say()

hello

In [67]:
def gr(name1 , name2):
    print(f'Hello {name1} and Hello {name2}')
x=input("enter name1: ")   
y=input("enter name2: ") 
gr(x,y)

enter name1: fatma
enter name2: waleed
Hello fatma and Hello waleed

In [68]:
def add(num1 , num2):
   return num1+num2
x=int(input("enter num1: "))   
y=int(input("enter num2: ")) 
add(x,y)

enter num1: 4
enter num2: 6

10

In [70]:
def sum(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x/y
choise=input("1/2/3/4")
num1=int(input("enter num1"))
num2=int(input("enter num2"))
if choise =="1" :
    print(num1,"+",num2,"=",add(num1,num2))
elif choise =="2" :
    print(num1,"-",num2,"=",sub(num1,num2)) 
elif choise =="3" :
    print(num1,"*",num2,"=",mul(num1,num2)) 
elif choise =="4" :
    print(num1,"/",num2,"=",div(num1,num2))
else:
    print("Invalid input")

1/2/3/44
enter num18
enter num22
8 / 2 = 4.0

In [73]:
add=lambda x,y : x*y
print("sum: ", add(3,4))

sum:  12

In [80]:
def lis(a):
    return a**2
def list1(b):
    return b**3
x=map(lis,(1,2,3,4,5,6))
y=map(list1,(1,2,3,4,5,6))
print(list(x))
print(list(y))

[1, 4, 9, 16, 25, 36]
[1, 8, 27, 64, 125, 216]

In [82]:
maps=[1,2,3,4,5,6]
power2= lambda a: a**2
power3= lambda a: a**3
x=list(map(power2,maps))
y=list(map(power3,maps))
print(x,"\n",y)

[1, 4, 9, 16, 25, 36]
 [1, 8, 27, 64, 125, 216]

In [86]:
def person(*data):
    print(data)
person("gh","ilk","jhbj","ij")

('gh', 'ilk', 'jhbj', 'ij')

In [87]:
def person(**data):
    print(data)
person(a="gh",b="ilk",c="jhbj",d="ij")

{'a': 'gh', 'b': 'ilk', 'c': 'jhbj', 'd': 'ij'}

In [15]:
mul= lambda x,h:x/h
print(mul(10,2))

5.0

In [21]:
li=["apple","banna","chery"]
z= "yes" if "apple" in li else "false"
print(z)

yes

In [23]:
print(5!=10)

True

In [24]:
print(5==10 or 4==4)

True

In [33]:
li=["apple","banna","chery","apple","banna","chery","apple","banna","chery"]
print(len(li))

9

In [39]:
i=[565,890,768]
i.sort()
print(i)

[565, 768, 890]

In [41]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527]
index=0
while numbers[index]!=237:
    if numbers[index]%2==0:
       print(numbers[index])
    index+=1

386
462
418
344
236
566
978
328
162
758
918

In [42]:
n1=int(input("n1"))
n2=int(input("n2"))
n3=int(input("n3"))
ma=max(n1,n2,n3)
mi=min(n1,n2,n3)
middle=n1+n2+n3-ma-mi
print(ma,middle,mi)

n145
n276
n367
76 67 45

In [ ]:
n1=int(input("n1"))
n2=int(input("n2"))
n3=int(input("n3"))
if n1>n2 :
    print("max is ", n1)
if n1>n2 :
    print("max is ", n1)

In [44]:
z=[]
x=int(input("input the len of list: "))
for i in range(x):
    w=float(input("input the nums of list: "))
    z.append(w)
    if len(z) == len(set(z)):
        print("true")
    else:    
         print("false")

input the len of list: 3
input the nums of list: 5
true
input the nums of list: 9
true
input the nums of list: 8
true

In [1]:
ini_dict = {'a':1, 'b':-2, 'c':-3, 'd':7, 'e':0}
result =[dict({(k,v)}) for k,v in ini_dict.items() if v>=0]
print(result)

[{'a': 1}, {'d': 7}, {'e': 0}]

In [2]:
test_dict = {"Gfg": 8, "is": 5, "Best": 5}
if len(set(test_dict.values())) ==1:
  print("Are all values similar in dictionary. ")
else:
    print("Are not all values not similar in dictionary.")

Are not all values not similar in dictionary.

In [3]:
test_dict = {'gfg': 1, 'is': 2, 'best': 3,'best': 3}
input_user = int(input("Enter the number: "))
result = any([True if i == input_user else False for i in test_dict.values()])
print(result)

Enter the number: 4
False

In [4]:
x = int(input("Enter a number: "))
print(sum([i for i in range(x + 1)]))

Enter a number :4
10

In [6]:
num = 3
factorial = 1
i = 1

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    while i <= num:
        factorial *= i
        i += 1
    print("The factorial of", num, "is", factorial)

The factorial of 3 is 6

In [7]:
num = '76542'
print(num[-1::-1])

24567

In [8]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [9]:
x=int(input("Enter a number :"))
result=[i*i*i for i in range(x+1)]
print(result)

Enter a number :2
[0, 1, 8]

In [10]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

In [12]:
x=input("Enter a Name : \n")
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
count=0
for i in x:
  if i in vowels:
    count+=1
print(count)

Enter a Name :
fatma
2

In [13]:
itemT= ("item1", "item2")
iteml = list(itemT)
iteml.append("item3")
itemT = tuple(iteml)
print(itemT)

('item1', 'item2', 'item3')

In [14]:
list1 = [5, 10 , 15]
listSum = sum(list1)
print(listSum)

30

In [15]:
list1=[3,3,3]
x=1
for i in list1:
  x*=i
print(x)

27

In [16]:
l= [3, 4, 8]
minv = min(l)
print(minv)

3

In [17]:
l= [3, 4, 8]
minv = max(l)
print(minv)

8

In [18]:
list1 = [3, 4, 8]
list2 = list1.copy()
print(list2)

[3, 4, 8]

In [19]:
set1 = set([0, 1, 7, 4, 5])
set1.remove(4)
set1.remove(7)
print(set1)

{0, 1, 5}

In [20]:
set1 =([0, 1, 7, 4, 5])
maxVal = max(set1)
minVal = min(set1)
print(maxVal,end=" ")
print(minVal)

7 0

In [21]:
dict1 = {}
set1 = {"age", "set", "set1","city"}
x=set(enumerate(set1))
print(x)

{(3, 'set'), (1, 'set1'), (0, 'age'), (2, 'city')}

In [22]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [23]:
dict1 = {}
tuple1 = ("name", "age", "city","city")
for index, key in enumerate(tuple1):
    dict1.update([(key,index)])

print(dict1)

{'name': 0, 'age': 1, 'city': 3}

In [24]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

output_list = [(x, y, 100) for x, y, z in sample_list ]

print(output_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]